<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gif Roulette</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <section class="hero is-info is-smal is-bold">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <%= link("Gif Roulette", to: page_path(@conn, :index), class: "navbar-item") %>
            </div>
          </div>
        </nav>
      </div>
    </section>

    <section class="alerts">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    </section>

    <%= render @view_module, @view_template, assigns %>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <span><%= gettext("Powered by")%></span></br>
            <%= link to: "http://phoenixframework.org/", class: "navbar-item" do %>
              <%= img_tag("https://files.readme.io/PKPqx8L9TJSAY2Bnmw7F_phoenixframework-logo-white@2x.png", class: "logo center") %>
            <% end %>
          </p>
        </div>
      </div>
    </footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
